<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>development</title>
    <link href="../static/style.css" rel="stylesheet">
    <script src="../static/script.js"></script>
    Hotel Management System
  </head>
  <body>
    <div id="loginForm" class = "form-container">
      <form id ="login">
        <div class="formElement">
          <label for="username">Username</label>
          <input type="text" id="username" name="username" value="guest" required >
        </div>
        <div class="formElement">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" value="dev" required >
        </div>
        <button type="submit" class="btn-submit">Login</button>
      </form>
    </div>

    <div id='loginContent' class="hidden" > 
      <h1>Developing</h1>
    </div>

  </body>
</html>
